.umt-patch-cell {

    background-color: $request-cell-bkg-color;
    padding         : space(4) space(3);
    box-shadow      : $box-shadow-dir $color-box-shadow;
    margin-bottom   : 20px;
    min-height      : space(17);
    overflow-x      : auto;

    & > div {
        flex-wrap: nowrap;

        .avatar-section {
            min-width   : 32px;
            box-sizing  : content-box;
        }

        .team-name {
            @extend %ellipsis;
            margin-top: space(1);

            i {
                color: $color-anchor-link;
            }
        }

        .patches,
        .date {

            flex-grow   : 1;
            min-width   : 50px;
            border-left : solid 1px $patch-left-border-color;

            span {
                @extend %ellipsis;
            }
        }
    
        .button {
            min-width   : 50px;
            box-sizing  : content-box;

            .umt-button {
                margin-bottom   : 0;
                width           : 100%;
            }
        }

    }

}