.umt-request-cell {

    background-color: $request-cell-bkg-color;
    padding         : 1.072rem 12px;
    box-shadow      : $box-shadow-dir $color-box-shadow;
    margin-bottom   : 20px;

    .info {

        flex-grow   : 1;

        span {
            @extend %ellipsis;
        }

    }

    .button {
        margin-bottom: -20px;
    }

}