.umt-modal {
    position: fixed;
    z-index: 9000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: open-modal 0.3s;

    &-container {
        padding: 40px 0;
        background-color: $modal-bkg-color;
        max-width: 90vw;
        max-height: 90vh;
        overflow: auto;
        box-shadow: 0 20px 15px rgba(0,0,0,0.1);

        .umt-modal-title {
            margin-bottom: 10px;
            text-transform: none;
            font-size: 1.3rem;
        }
    }
}

@keyframes open-modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}