.umt-collapsible {

    margin-bottom   : space(5);
    transition      : transform 0.3s,
                      box-shadow 0.3s;

    & > .header {

        background-color    : $collapsible-bkg-header-color;
        box-shadow          : $box-shadow-dir $color-box-shadow;
        padding             : space(4) space(3);
        overflow            : auto;
        cursor              : pointer;
        min-height          : space(17);
        flex-wrap           : nowrap;

        .title-section {
            flex-grow: 1;
            min-width: 0;
        }

        .default-header-title {
            @extend %ellipsis;
        }

        .button .anticon {
            color: $color-font;
        }
    }

    & > .body {

        -ms-overflow-style  : none;
        scrollbar-width     : none;
        &::-webkit-scrollbar {
            display: none;
        }

        overflow    : auto;
        position    : relative;
        opacity     : 1;
        transition  : max-height 0.2s ease-in-out,
                      opacity 0.2s 0.3s ease-in;

        .body-content-wrapper {
            padding-top : space(2);
            box-sizing  : border-box;
        }
    }

    &[umt-collapsed] > .body {
        opacity     : 0;
        transition  : opacity 0.2s ease-in,
                      max-height 0.3s 0.2s ease-in-out;
    }
}