.umt-transfer-cell {
    background-color: $transfer-bkg-color;
    padding: 8px 16px;
    box-shadow: $box-shadow-dir $color-box-shadow;
    margin: 2px 0px 10px 0px;

    .row {
        flex-wrap: nowrap;
    }

    .team-image,
    .profile-image {
        @extend %avatar;
    }

    .transfer-info {
        margin: 0 15px;
        min-width: 0;

        &-date {
            color: $color-anchor-link;
            margin-left: 5px;
        }
    }

    .transfer-icon {
        margin-right: 15px;
    }

    .info {
        margin-bottom: -5px;
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 1;

        h3 {
            @extend %ellipsis;
            font-weight: $font-weight-bold;
        }

        &-to {
            span {
                @extend %ellipsis;
            }
        }
    }
}