.umt-input {

    margin-bottom   : 20px;
    position        : relative;
    box-shadow      : $box-shadow-dir $color-box-shadow;
    display         : flex;
    background-color: $input-bkg-color;
    padding         : 0.75rem 12px 0.75rem 12px;
    max-height      : 3rem;

    input {

        @extend %font-props;

        width           : 100%;
        border          : none;
        border-radius   : 0;
        outline         : none;
        background-color: $input-bkg-color;
        color           : $input-font-color;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button,
        &::-webkit-calendar-picker-indicator,
        &::-webkit-clear-button {
            display             : none;
            -webkit-appearance  : none;
        }

        &::-webkit-input-placeholder {
            color       : $color-placeholder;
            text-align  : start !important;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active {
            background-color: $input-bkg-color !important;
            color           : $input-font-color !important;
        }
    }

    .placeholder-date {
        position    : absolute;
        top         : 0;
        left        : 0;
        bottom      : 0;
        box-shadow  : none;
    }

    &[umt-type="password"] {

        align-items: center;

        .eye-icon {
            cursor      : pointer;
            display     : flex;
            align-items : center;
            padding     : 2px 0 2px 0;

            img {
                height: 1.5rem;
            }
        }

    }

    &[umt-type="search"] {

        align-items: center;

        .search-icon {
            cursor      : pointer;
            display     : flex;
            align-items : center;
            padding     : 2px 0 2px 0;

            img {
                height: 1.5rem;
            }
        }

    }

    &[umt-has-suffix] {
        .suffix {
            display     : flex;
            align-items : center;
            padding     : 2px 0 2px 0px;
        }
    }

}