.umt-chat-cell {

    background-color: $chat-cell-bkg-color;
    padding         : 1rem 12px;
    box-shadow      : $box-shadow-dir $color-box-shadow;
    margin-bottom   : 20px;
    min-height      : space(17);
    cursor          : pointer;
    overflow-x      : auto;

    & > div {
        flex-wrap: nowrap;

        .avatar-section {
            min-width: fit-content;

            center {
                min-width: fit-content;
            }

            .ant-avatar-lg {
                min-width: 40px;
            }
        }

        .info,
        .datetime {
            min-width: 50px;
            flex-grow: 1;

            span {
                @extend %ellipsis;
            }
    
        }

    }

    &[umt-active="true"] {

        background: linear-gradient(45deg, $chat-cell-bkg-active-color-1, $chat-cell-bkg-active-color-2);

        span {
            color: $chat-cell-font-active-color;
        }

    }

}