.umt-transfer-cell,
.umt-transfer-cell-skeleton {
    background-color: $transfer-bkg-color;
    padding: 8px 16px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    margin: 2px 5px 10px 5px;

    .team-image,
    .profile-image {
        max-height: 50px;
        width: 100%;
        border-radius: 50%;
        object-fit: contain;

        &-skt {
            height: 0;
            padding-bottom: 100%;
            @extend %animation-skeleton-gradient;
            @extend %animation-skeleton;
        }
    }

    .transfer-info {
        margin: 0 15px;

        &-date {
            color: $color-anchor-link;
        }
    }

    .transfer-icon {
        margin-right: 15px;
    }

    .square {
        padding-bottom: 6%;
    }

    .info {
        margin-bottom: -5px;

        h3 {
            display: inline-block;
            font-weight: $font-weight-bold;
        }

        &-skt {
            height: 0;
            padding-bottom: 6%;
            margin-bottom: 5px;

            .square {
                height: 100%;
                @extend %animation-skeleton-gradient;
                @extend %animation-skeleton;
            }
        }
    }

    .info-to-skt {
        height: 0;
        padding-bottom: 6%;

        .square {
            height: 100%;
            width: 70%;
            @extend %animation-skeleton-gradient;
            @extend %animation-skeleton;
        }
    }
}