.umt-skeleton {

    background-color: $skeleton-bkg-color;
    padding         : space(4) space(3);
    box-shadow      : $box-shadow-dir $color-box-shadow;
    margin-bottom   : 20px;
    min-height      : space(17);

    .loading-avatar {
        &.ant-avatar {
            @extend %animation-skeleton-gradient;
            @extend %animation-skeleton;
        }
    }

    .info {

        flex-grow: 1;

        .loading-text {

            margin      : 0.35rem 0;
            width       : 70%;
            height      : 1rem;
        
            &.title {
                width: 30%;
            }
        
            @extend %animation-skeleton-gradient;
            @extend %animation-skeleton;
    
        }

    }

}