.umt-challenge-cell {
    background-color: $challenge-cell-bkg-color;
    padding: 8px 16px;
    box-shadow: $box-shadow-dir $color-box-shadow;
    margin: 2px 0px 10px 0px;

    .row {
        flex-wrap: nowrap;
    }

    .team-image {
        max-height: 50px;
        width: 100%;
        border-radius: 50%;
        object-fit: contain;
    }

    .transfer-info {
        margin: 0 15px;
        min-width: 0;
    }

    .info {
        margin: 0 15px;
        min-width: 0;
        flex-grow: 1;

        .team-name {
            margin-bottom: -5px;

            h3 {
                @extend %ellipsis;
                font-weight: $font-weight-bold;
            }
        }

        .distance {
            max-width: 100%;

            span {
                @extend %ellipsis;
            }
        }
    }
}