.umt-navigation-bar {

    background-color: $navigation-bar-bkg-color;
    padding         : space(1);
    min-height      : space(8);


    &[umt-position="bottom"] {
        box-shadow: 0 -5px 5px $color-box-shadow;
        margin-top: space(3);
    }


    &[umt-position="top"] {
        box-shadow      : 0 5px 5px $color-box-shadow;
        margin-bottom   : space(3);
    }


    .tab {

        display         : flex;
        flex-direction  : column;
        align-items     : center;
        text-align      : center;
        cursor          : pointer;

        img {
            width           : 1.5rem;
            display         : block;
            margin-bottom   : 0.3rem;
        }

        .tab-name {
            font-size: 0.8rem;

            &[umt-active] {
                color: $navigation-bar-color-active;
            }
        }

    }

}