.umt-patch-cell {

    background-color: $request-cell-bkg-color;
    padding         : 0.858rem 12px;
    box-shadow      : $box-shadow-dir $color-box-shadow;
    margin-bottom   : 20px;

    .patches,
    .date {

        flex-grow   : 1;
        border-left : solid 1px $patch-left-border-color;

        span {
            @extend %ellipsis;

            i {
                color: $color-anchor-link;
            }
        }

    }

    .button {
        margin-bottom: -20px;
    }

}