.umt-notification {

    position        : fixed;
    z-index         : 9000;
    top             : 0;
    right           : 0;
    display         : flex;
    flex-direction  : column;
    animation       : open-notification 0.3s;
    width           : 30vw;
    min-height      : 20vh;
    margin-top      : space(3);
    margin-right    : space(3);
    background      : $notification-bkg-color;
    box-shadow      : $box-shadow-dir $color-box-shadow;
    padding         : space(2);

    h2 {
        padding-bottom: space(1);
    }

    .buttons {

        display         : flex;
        justify-content : space-between;
        align-items     : center;
        margin-bottom   : space(2);

        .symbol {
            font-size   : 2rem;
            color       : $notification-icon-color;
        }

        p {
            margin: 0;
        }

    }

}


@keyframes open-notification {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}