// COLORS
$color-main-1: #FFFFFF;
$color-main-2: #F1F3FF;
$color-main-3: #161C27;
$color-main-4: #1F2835;
$color-main-5: #0CECF2;
$color-main-6: #6457E3;
$color-main-7: #AD64E6;
$color-main-8: #AC9FF9;
$color-main-9: #F6E0F4;