// COLORS
$color-main-1: #FFFFFF;
$color-main-2: #F1F3FF;
$color-main-3: #161C27;
$color-main-4: #1F2835;
$color-main-5: #0CECF2;
$color-main-6: #6457E3;
$color-main-7: #8D58E0;
$color-main-8: #AC9FF9;
$color-main-9: #F6E0F4;
$color-main-10: #10E28C;

$color-main-1-rgb: red($color-main-1), green($color-main-1), blue($color-main-1);
$color-main-2-rgb: red($color-main-2), green($color-main-2), blue($color-main-2);
$color-main-3-rgb: red($color-main-3), green($color-main-3), blue($color-main-3);
$color-main-4-rgb: red($color-main-4), green($color-main-4), blue($color-main-4);
$color-main-5-rgb: red($color-main-5), green($color-main-5), blue($color-main-5);
$color-main-6-rgb: red($color-main-6), green($color-main-6), blue($color-main-6);
$color-main-7-rgb: red($color-main-7), green($color-main-7), blue($color-main-7);
$color-main-8-rgb: red($color-main-8), green($color-main-8), blue($color-main-8);
$color-main-9-rgb: red($color-main-9), green($color-main-9), blue($color-main-9);
$color-main-10-rgb: red($color-main-10), green($color-main-10), blue($color-main-10);