// forms

.ant-form-item,
.ant-form-item-control {
    line-height : unset;
    margin      : 0;
}

.ant-form label {
    font-size: 0.8rem;
}

.has-error {
    .ant-form-explain {
        position                : absolute;
        margin-top              : -space(3);
        color                   : $color-main-11;
        -webkit-text-fill-color : $color-main-11;
    }
}

.has-success {
    .ant-form-explain {
        position                : absolute;
        margin-top              : -space(3);
        color                   : $color-main-11;
        -webkit-text-fill-color : $color-main-11;
    }
}

.ant-form-explain,
.ant-form-extra,
.ant-select-selection {
    transition: unset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:not(:hover) {
    background-clip         : text;
    -webkit-background-clip : text;
    -webkit-text-fill-color : $input-font-color;
}

img {
    pointer-events: none;
}