// forms

.ant-form-item,
.ant-form-item-control {
    line-height : unset;
    margin      : 0;
}

.ant-form label {
    font-size: 0.8rem;
}

.has-error {

    .umt-input,
    .ant-select-selection {
        box-shadow: 0 0 0 2px $color-main-11;
    }

    .ant-form-explain {
        position                : absolute;
        margin-top              : -20px;
        color                   : $color-main-11;
        -webkit-text-fill-color : $color-main-11;
    }

}

.has-success {
    .ant-form-explain {
        position                : absolute;
        margin-top              : -20px;
        color                   : $color-main-11;
        -webkit-text-fill-color : $color-main-11;
    }
}

.ant-form-explain,
.ant-form-extra,
.ant-select-selection {
    transition: unset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:not(:hover) {

    -webkit-background-clip : text;
    background-clip         : text;
    -webkit-text-fill-color : $input-font-color;

}