@use "sass:map";

@mixin setTheme($config, $variable) {
    // Warnings
    @if not map.has-key($variable, 'font') { @error "Falta variable color 'font'."; }
    @if not map.has-key($variable, 'font-rgb') { @error "Falta variable color 'font-rgb'."; }
    @if not map.has-key($variable, 'placeholder') { @error "Falta variable color 'placeholder'."; }
    @if not map.has-key($variable, 'background') { @error "Falta variable color 'background'."; }
    @if not map.has-key($variable, 'anchor-link') { @error "Falta variable color 'anchor-link'."; }
    @if not map.has-key($variable, 'anchor-link-hover') { @error "Falta variable color 'anchor-link-hover'."; }
    @if not map.has-key($variable, 'button-bkg-color-left') { @error "Falta variable color 'button-bkg-color-left'."; }
    @if not map.has-key($variable, 'button-bkg-color-right') { @error "Falta variable color 'button-bkg-color-right'."; }
    @if not map.has-key($variable, 'button-bkg-color-right-alt') { @error "Falta variable color 'button-bkg-color-right-alt'."; }
    @if not map.has-key($variable, 'button-bkg-color-hover') { @error "Falta variable color 'button-bkg-color-hover'."; }
    @if not map.has-key($variable, 'button-font-color') { @error "Falta variable color 'button-font-color'."; }
    @if not map.has-key($variable, 'button-border-color') { @error "Falta variable color 'button-border-color'."; }
    @if not map.has-key($variable, 'input-bkg-color') { @error "Falta variable color 'input-bkg-color'."; }
    @if not map.has-key($variable, 'input-font-color') { @error "Falta variable color 'input-font-color'."; }
    @if not map.has-key($variable, 'radio-bkg-color') { @error "Falta variable color 'radio-bkg-color'."; }
    @if not map.has-key($variable, 'radio-font-color') { @error "Falta variable color 'radio-font-color'."; }
    @if not map.has-key($variable, 'radio-border-color') { @error "Falta variable color 'radio-border-color'."; }
    @if not map.has-key($variable, 'radio-checked-color') { @error "Falta variable color 'radio-checked-color'."; }
    @if not map.has-key($variable, 'code-input-border-color') { @error "Falta variable color 'code-input-border-color'."; }
    @if not map.has-key($variable, 'code-input-font-color') { @error "Falta variable color 'code-input-font-color'."; }
    @if not map.has-key($variable, 'code-input-border-focus-color') { @error "Falta variable color 'code-input-border-focus-color'."; }
    @if not map.has-key($variable, 'pos-po-bkg-color') { @error "Falta variable color 'pos-po-bkg-color'."; }
    @if not map.has-key($variable, 'pos-dfi-bkg-color') { @error "Falta variable color 'pos-dfi-bkg-color'."; }
    @if not map.has-key($variable, 'pos-dfc-bkg-color') { @error "Falta variable color 'pos-dfc-bkg-color'."; }
    @if not map.has-key($variable, 'pos-dfd-bkg-color') { @error "Falta variable color 'pos-dfd-bkg-color'."; }
    @if not map.has-key($variable, 'pos-mi-bkg-color') { @error "Falta variable color 'pos-mi-bkg-color'."; }
    @if not map.has-key($variable, 'pos-mc-bkg-color') { @error "Falta variable color 'pos-mc-bkg-color'."; }
    @if not map.has-key($variable, 'pos-md-bkg-color') { @error "Falta variable color 'pos-md-bkg-color'."; }
    @if not map.has-key($variable, 'pos-di-bkg-color') { @error "Falta variable color 'pos-di-bkg-color'."; }
    @if not map.has-key($variable, 'pos-dc-bkg-color') { @error "Falta variable color 'pos-dc-bkg-color'."; }
    @if not map.has-key($variable, 'pos-dd-bkg-color') { @error "Falta variable color 'pos-dd-bkg-color'."; }

    // Setup
    body {
        background-color: #{map.get($variable, 'background')};
    }

    #theme-provider[umt-theme="#{map.get($config, 'name')}"] {
        --color-font: #{map.get($variable, 'font')};
        --color-font-rgb: #{map.get($variable, 'font-rgb')};
        --color-placeholder: #{map.get($variable, 'placeholder')};
        --color-background: #{map.get($variable, 'background')};
        --color-anchor-link: #{map.get($variable, 'anchor-link')};
        --color-anchor-link-hover: #{map.get($variable, 'anchor-link-hover')};
        --button-bkg-color-left: #{map.get($variable, 'button-bkg-color-left')};
        --button-bkg-color-right: #{map.get($variable, 'button-bkg-color-right')};
        --button-bkg-color-right-alt: #{map.get($variable, 'button-bkg-color-right-alt')};
        --button-bkg-color-hover: #{map.get($variable, 'button-bkg-color-hover')};
        --button-font-color: #{map.get($variable, 'button-font-color')};
        --button-border-color: #{map.get($variable, 'button-border-color')};
        --input-bkg-color: #{map.get($variable, 'input-bkg-color')};
        --input-font-color: #{map.get($variable, 'input-font-color')};
        --radio-bkg-color: #{map.get($variable, 'radio-bkg-color')};
        --radio-font-color: #{map.get($variable, 'radio-font-color')};
        --radio-border-color: #{map.get($variable, 'radio-border-color')};
        --radio-checked-color: #{map.get($variable, 'radio-checked-color')};
        --code-input-border-color: #{map.get($variable, 'code-input-border-color')};
        --code-input-font-color: #{map.get($variable, 'code-input-font-color')};
        --code-input-border-focus-color: #{map.get($variable, 'code-input-border-focus-color')};
        --pos-po-bkg-color: #{map.get($variable, 'pos-po-bkg-color')};
        --pos-dfi-bkg-color: #{map.get($variable, 'pos-dfi-bkg-color')};
        --pos-dfc-bkg-color: #{map.get($variable, 'pos-dfc-bkg-color')};
        --pos-dfd-bkg-color: #{map.get($variable, 'pos-dfd-bkg-color')};
        --pos-mi-bkg-color: #{map.get($variable, 'pos-mi-bkg-color')};
        --pos-mc-bkg-color: #{map.get($variable, 'pos-mc-bkg-color')};
        --pos-md-bkg-color: #{map.get($variable, 'pos-md-bkg-color')};
        --pos-di-bkg-color: #{map.get($variable, 'pos-di-bkg-color')};
        --pos-dc-bkg-color: #{map.get($variable, 'pos-dc-bkg-color')};
        --pos-dd-bkg-color: #{map.get($variable, 'pos-dd-bkg-color')};
    }

    #theme-provider {
        background-color: var(--color-background);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
}

$color-font: var(--color-font);
$color-font-rgb: var(--color-font-rgb);
$color-placeholder: var(--color-placeholder);
$color-background: var(--color-background);
$color-anchor-link: var(--color-anchor-link);
$color-anchor-link-hover: var(--color-anchor-link-hover);
$button-bkg-color-left: var(--button-bkg-color-left);
$button-bkg-color-right: var(--button-bkg-color-right);
$button-bkg-color-right-alt: var(--button-bkg-color-right-alt);
$button-bkg-color-hover: var(--button-bkg-color-hover);
$button-font-color: var(--button-font-color);
$button-border-color: var(--button-border-color);
$input-bkg-color: var(--input-bkg-color);
$input-font-color: var(--input-font-color);
$radio-bkg-color: var(--radio-bkg-color);
$radio-font-color: var(--radio-font-color);
$radio-border-color: var(--radio-border-color);
$radio-checked-color: var(--radio-checked-color);
$code-input-border-color: var(--code-input-border-color);
$code-input-font-color: var(--code-input-font-color);
$code-input-border-focus-color: var(--code-input-border-focus-color);
$pos-po-bkg-color: var(--pos-po-bkg-color);
$pos-dfi-bkg-color: var(--pos-dfi-bkg-color);
$pos-dfc-bkg-color: var(--pos-dfc-bkg-color);
$pos-dfd-bkg-color: var(--pos-dfd-bkg-color);
$pos-mi-bkg-color: var(--pos-mi-bkg-color);
$pos-mc-bkg-color: var(--pos-mc-bkg-color);
$pos-md-bkg-color: var(--pos-md-bkg-color);
$pos-di-bkg-color: var(--pos-di-bkg-color);
$pos-dc-bkg-color: var(--pos-dc-bkg-color);
$pos-dd-bkg-color: var(--pos-dd-bkg-color);